In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [184]:
df = pd.read_excel('Data_Train.xlsx')

In [185]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New_Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New_Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [186]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [187]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [188]:
df.isnull().sum()

Airline            0
Date_of_Journey    0
Source             0
Destination        0
Route              1
Dep_Time           0
Arrival_Time       0
Duration           0
Total_Stops        1
Additional_Info    0
Price              0
dtype: int64

In [189]:
df = df.dropna()

In [190]:
df["Journey_Day"] = pd.to_datetime(df["Date_of_Journey"], format="%d/%m/%Y").dt.day
df["Journey_Month"] = pd.to_datetime(df["Date_of_Journey"], format="%d/%m/%Y").dt.month

In [191]:
df['Dep_hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
df['Dep_Min']= pd.to_datetime(df['Dep_Time']).dt.minute

C:\Users\Pratik\AppData\Local\Temp\ipykernel_20004\241351132.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_hour'] = pd.to_datetime(df['Dep_Time']).dt.hour
C:\Users\Pratik\AppData\Local\Temp\ipykernel_20004\241351132.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Dep_Min']= pd.to_datetime(df['Dep_Time']).dt.minute

In [192]:
df ['Arrival_hour']= pd.to_datetime(df['Arrival_Time']).dt.hour
df ['Arrival_minute']= pd.to_datetime(df['Arrival_Time']).dt.minute

C:\Users\Pratik\AppData\Local\Temp\ipykernel_20004\687143253.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df ['Arrival_hour']= pd.to_datetime(df['Arrival_Time']).dt.hour
C:\Users\Pratik\AppData\Local\Temp\ipykernel_20004\687143253.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df ['Arrival_minute']= pd.to_datetime(df['Arrival_Time']).dt.minute

In [193]:
df.drop(['Date_of_Journey','Dep_Time','Arrival_Time'],axis=1,inplace=True)

In [194]:
df["Airline_Original"] = df["Airline"]
df["Source_Original"] = df["Source"]
df["Destination_Original"] = df["Destination"]

In [195]:
df['Total_Stops'] = df["Total_Stops"].replace({'non-stop':0, '1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4}).astype(int)
df= pd.get_dummies(df,columns=['Airline','Source','Destination'],drop_first=True)

C:\Users\Pratik\AppData\Local\Temp\ipykernel_20004\1826230080.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Total_Stops'] = df["Total_Stops"].replace({'non-stop':0, '1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4}).astype(int)

In [196]:
duration = df['Duration'].str.replace('h',' hour').str.replace('m',' min')
duration = duration.apply(lambda x: x.strip().split(' '))

df['Duration_hours'] = [int(x[0]) if len(x)>=1 else 0 for x in duration]
df['Duration_mins'] = [int(x[2]) if len(x) ==4 else 0 for x in duration]

df.drop(['Duration','Route','Additional_Info'],axis=1,inplace=True)

In [200]:
df.to_csv('data_after_feature_engineering_2.csv')